div#header
div#main 
	Hi, just a test
div#footer                                                                                                            

script(src='/javascripts/lib/jquery-1.7.2.min.js') 
script(src="/javascripts/underscore.js")
script(src="/javascripts/backbone.js")
script(src="/javascripts/view/books.js")