!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/room.css')
    link(rel='stylesheet', href='/stylesheets/card.css')
    link(rel='stylesheet', href='/stylesheets/rooms.css')
  body!= body
