div#header
div#main
	div.summary
		div
			当前共有
			span.count= 0
			个房间 ，您可以加入已有的房间，也可以创建自己的房间
			form.newRoom(action="/rooms", method="POST", onclick="return false;")
				input(value='创建新房间', type='submit')= '点击加入'
			span.message.error.hidden= '无法创建新房间'
	div.rooms
		
div#footer                                                                                                            

script#room-template(type="text/template")
	div.room(id="room")= 'room '

script(data-main='/javascripts/main.js', src='/javascripts/lib/require.js')