div#header
div#main 
	div.room
		div.seat.north
		div.seat.west
		div.playarea
		div.seat.east
		div.seat.south
div#footer                                                                                                            

script(data-main='/javascripts/main', src='/javascripts/lib/require.js')                                                                                                           	

script(src="/socket.io/socket.io.js")