<div class='topSeat'>
</div>
<div class='leftSeat central'>
</div>
<div class='central'>
	<span>room <%= room.id%></span>
	<span><%= room.get('roomState').get('name')%></span>
</div>
<div class='rightSeat central'>
</div>
<div class='bottomSeat'>
</div>