</div>
	<span><a href='/room/<%= room.id%>'>room <%= room.id %></a></span>
	<span class='description'><%=room.availableSeats() %> seats available</span>
	<span class='status'><%= room.get('roomState').get('name')%></span>