.card{
	height: 50px;
	width: 35px;
	border: solid;
	text-align: right;
	display: inline-block;   
	background-repeat: no-repeat;
	background-size: 50%;
	margin-right: -5px;
}
.HEART{
	background-image: url('/images/heart.png'); 
}
.CLUB{
	background-image: url('/images/club.png');
}
.SPADE{
	background-image: url('/images/spade.png');	
}
.DIAMOND{
	background-image: url('/images/diamond.png');
}
.card.unknown{
	
}
.card.selected{
	border-color: red;
}
.JOKER{
	background-size: contain;
}
.BigJoker{
	background-image: url('/images/big_joker.png');
}
.SmallJoker{
	background-image: url('/images/small_joker.png');
}
