.room{
	position: relative;
	height: 600px;
	width: 760px;
}
.seat, .otherSeat{
	border: solid 2px black;
	padding: 8px;
	position: absolute;
}   
.otherSeat.north, .seat.south{
	left: 0px;
} 
.otherSeat.north{
	width: 400px;
	height: 150px; 
	left: 170px;
	top: 0;
}
.seat.south{
	width: 740px;
	height: 160px; 
	bottom: 0;
}
.otherSeat.east, .otherSeat.west{
	width: 150px;  
	height: 400px;
	top: 0;
}
.otherSeat.east{
	left; 0;
}
.otherSeat.west{
	right: 0;
}
.playing{
	border: 5px solid red;
}

.playarea{
	position: absolute;
	height: 200px;
	width: 215px;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -100px;
}
.player{
	background-color: seaGreen;
	height: 53px;
}
.player .name{
	margin: 5px 15px;
}
.player .banker{
	margin: 5px 15px;	
}

form.takeSeat{
	
}
.flip.hidden, .bury.hidden, .play.hidden{
	display: none;
}
.flip, .bury, .play{
	display: inline;
}
.flip input{
	color: seagreen;
	background-color: yellow;
}

.playedCards{
	display: inline;
}