.room{
	position: relative;
	height: 600px;
	width: 898px;
}
.seat{
	border: solid;
	padding: 5px 10px;
	position: absolute;
}   
.seat.north, .seat.south{
	width: 550px;
	height: 135px; 
	left: 161px;
}
.seat.north{
	top:0;
} 
.seat.south{
	bottom: 0;
}
.seat.east, .seat.west{
	width: 135px;  
	height: 550px;
	top: 20px;
}
.seat.east{
	left; 0;
}
.seat.west{
	right: 0;
}


.playarea{
	position: absolute;
	height: 200px;
	width: 200px;
	border: 1px solid red;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -100px;
}
.player{
	background-color: red;
}
.player .name{
	margin: 5px 15px;
}
.player .banker{
	margin: 5px 15px;	
}

form.takeSeat{
	
}
form.flip{
	display: inline;
}