body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cf{
	clear: both;
}  
.hidden{
	display: none;
}
.seat{
	border: solid;
	padding: 5px 10px;
	margin: 10px 20px 20px 20px;  
	height: 135px;
}   
/*start of seat not taken*/
.seat.notTaken .trumps, .seat.notTaken .suits{
	display: none;
}
.seat.notTaken .join{
	display: block;
}
.seat.notTaken .error{
	font-weight: bold;
	font-style: italic;
	background: red;
}   
/*-------end of seat not taken*/
.seat.north, .seat.south{
	width: 550px; 
	margin-left: auto;
	margin-right: auto;
}
.playarea{
	float: left;
}
.seat.east, .seat.west{
	width: 450px;  
	height: ;
}
.seat.east{
	float: left;
}
.seat.west{
	float: left;
}
.player{
	background-color: red;
}
.player .name{
	margin: 5px 15px;
}
.player .banker{
	margin: 5px 15px;	
}

