	<div class="defenders">
		<span>台上:</span>
		<span>当前没有人在台上</span>   
	</div>
	<div class="attackers">
		<span>得分:</span>
		<span>0</span>   
	</div>
	<div class="currentStatus">
		<span class="description"><%= room.get('roomState').get('name')%></span> 
		<form class="start<% if(!room.canStart()){%> hidden<%}%>" action="/room/<%= room.get('id') %>/start" method="POST">
			<input type="submit" value="点击开始游戏"></input>
		</form>			
	</div>